*{
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fafafa;
  font-family: 'Cookie', cursive;
  position: fixed;
  width: 100%;
}
nav h1{
  font-size: 5.2rem;
  padding: 25px;
}
.main-card{
  margin-bottom: 50px;
  height: 75vh; 
  border: 2px solid #e9e8e8;
  width: 22vw; 
}

.card-img{
    /* width: 22vw; */
    height: 44vh;
    background-color: #a5a7a81c;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-img img{
  width: 22vw;
  height: 20rem;
}

.like-heart{
  color: rgb(255, 0, 0);
  font-size: 10rem;
  position: absolute;
  transition: linear ease-in-out;
}
.card-info{
  padding: 15px;
  align-items: center;
  display: flex;
}

.card-button{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 15px;
}

.btn{
  width: 8rem;
  height: 5vh;
  background-color: whitesmoke;
  border: 1px solid grey;
}

.btn:hover{
  background-color: #2196F3;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.btn-info{
  display: flex;
  justify-content: center;
}
.btn-info i{
  padding-right: 15px;
  font-size: 16px
}

@media screen and (max-width: 600px){
  .main-card{
    height: 80vh;
    width: 90vw;
    border: 2px solid;
    padding: auto;
  }
  .card-img{
    height: 49vh;
  }
  .card-img img{
    width: 91vw;
    margin-top: 6px;
  }
}

@media screen and (min-width:700px) and (max-width: 1100px){
  .card-img img{
    width: 38vw;
  }
  .main-card{
    width: 38vw;
  }
  .main-card .card-info{
    margin-top: 30px;
  }
}

@media screen and (min-width:1100px) and (max-width: 1500px){
  .main-card .card-info{
    margin-top: 30px;
  }
}